### Lists

In [1]:
vector = [1, 2, 3, 4, 5, 6]
print(vector)
matrix = [[1,2,3],[4,6,7],[8,9,10]]
print(matrix)

[1, 2, 3, 4, 5, 6]
[[1, 2, 3], [4, 6, 7], [8, 9, 10]]

In [19]:
print(vector)
vector.append(55)
print (vector)
vector.insert(2, 10)
print (vector)

[1, 2, 10, 10, 3, 4, 5, 10, 6, 55, 55]
[1, 2, 10, 10, 3, 4, 5, 10, 6, 55, 55, 55]
[1, 2, 10, 10, 10, 3, 4, 5, 10, 6, 55, 55, 55]

In [21]:
sum_all=0
for x in vector:
    print ("%d + %d = %d" %(sum_all,x,sum_all+x))
    sum_all+=x

0 + 1 = 1
1 + 2 = 3
3 + 10 = 13
13 + 10 = 23
23 + 10 = 33
33 + 3 = 36
36 + 4 = 40
40 + 5 = 45
45 + 10 = 55
55 + 6 = 61
61 + 55 = 116
116 + 55 = 171
171 + 55 = 226

### Dictionaries

In [24]:
student = {
    'Python' : 'A',
    'C++' : 'B',
    'Java' : 'A',
}

In [26]:
print ("keys in Dictionary: ",student.keys(),"\nValues in Dictionary: ",student.values())

keys in Dictionary:  dict_keys(['Python', 'C++', 'Java'])
Values in Dictionary:  dict_values(['A', 'B', 'A'])

In [28]:
print("Student obtained:")
for x in student:
    print(student[x],"in",x)

Student obtained:
A in Python
B in C++
A in Java

### Classes

In [32]:
class Employee:    
    def __init__(self, name, dob, email, mobile, address):
        self.name = name
        self.dob = dob
        self.email = email
        self.mobile = mobile
        self.address = address

In [33]:
emp1 = Employee('Anurag', '05-Nov-1998', 'sanurag2552@gmail.com', '1234567890', "IMS, Ghaziabad")
emp2 = Employee('XYZ', '21-Oct-1997', 'xyz@gmail.com', '8029314756', "GNIOT, Noida")
emp3 = Employee('Mayank', '03-Dec-1995', 'Mayank@gmail.com', '6854712390', "xyz colony, Palawal")

In [38]:
list1 = [emp1,emp2, emp3]
for x in list1:
    print(emp1.name,emp1.dob,emp1.mobile,emp1.address)

Anurag 05-Nov-1998 1234567890 IMS, Ghaziabad
Anurag 05-Nov-1998 1234567890 IMS, Ghaziabad
Anurag 05-Nov-1998 1234567890 IMS, Ghaziabad

### Functions

In [17]:
def is_prime(x):
    for i in range(2, int(x**(0.5)) + 1):
        if x%i == 0:
            return False
    return True

In [18]:
print is_prime(5)

True

In [19]:
print is_prime(15)

False